@tailwind base;
@tailwind components;
@tailwind utilities;

/* base styles */
body {
    background: #ebf0fa;
    @apply text-gray-500;
}

/* Barre de navigation*/
header {
    @apply bg-white
        /* En cas de chevauchement détermine la position de l'élément par rapport à l'ensemble: ici la navbar sera toujours au dessus du reste */
    z-50 fixed top-0 w-full
    shadow;
}

nav {
    @apply
    bg-white m-4;
}

.mobile-menu {
    @apply md:hidden flex items-center;
}

.btn-menu {
    @apply
    cursor-pointer inline-flex items-center justify-center p-2 rounded-md
    focus:outline-none;
}

.lien-mobile {
    @apply p-2 grid;
}

/* card styles */
.card {
    @apply bg-white
    shadow-sm
    rounded-md
    py-3 px-4 mx-8 my-4
    relative
    overflow-hidden;
}

.card h3 {
    @apply font-bold text-gray-700 text-sm
    mb-0;
}

.card p {
    @apply my-4 text-sm leading-6;
}

/* FOOTER */

.footerLogo img{
    @apply justify-self-center ;
}

.footerLogo a{
    @apply md:justify-center ;
}

.menuLangue {
    @apply grid;
}

.menuLangue button {
    @apply m-4 bg-primary text-white justify-self-center rounded-3xl p-2;
}

.partie2 {
    @apply md:grid md:grid-cols-3;
}

.partie2 p2c1 {
@apply md:h-full md:justify-center md:grid md:grid-rows-3 md:grid-cols-1;
}

.bouttonPhoto {
    @apply grid;
}

.bouttonPhoto button {
    @apply cursor-pointer m-4 bg-primary text-white
    justify-self-center rounded-3xl p-2 md:col-span-2;
}

.reseauSociaux {
    @apply text-white grid justify-center
    md:row-span-2 md:col-span-2;
}

.logoReseaux {
    @apply grid grid-cols-4 m-4 justify-items-center
    md:m-0;
}

.ellipse {
    @apply bg-white h-12 w-12 rounded-3xl flex items-center justify-center ;
}

.SiteMapList {
    @apply flex justify-center
    text-white ;
}

.SiteMapList li {
   @apply m-4 text-center;
}

.applis {
    @apply p-4 justify-center text-center text-white;
}


.logoStore {
    @apply m-4 ;
}

.logoStore a {
    @apply m-4 grid justify-center;
}

.adresses {
    @apply flex text-white justify-center
    ;
}

.adresses ul {
  @apply md:grid md:grid-cols-4 md:w-full;
}

.adresses li {
    @apply m-2 p-2 md:justify-self-center ;
}

.adresses li h1 {
    @apply font-medium;
}

.adresses li p {
    @apply font-light;
}

.mentions {
    @apply justify-center;
}

.mentions li {
    @apply m-2 text-center;
}